<!-- <ActionBar title="Legoncities Radio"></ActionBar> -->
<Gridlayout rows="auto,*">
   
   
<GridLayout rowSpan="2">
  <WebViewExt
    #webview
    [src]="videoSrc"
    (loadStarted)="onLoadStarted($event)"
    (loadFinished)="onLoadFinished($event)"
  >
  </WebViewExt>
  <GridLayout rows="*,auto,*" rowSpan="3" class="error-page" *ngIf="hasError">
    <!-- <Image rowSpan="3" src="res://player" stretch="aspectFill"></Image> -->
    <StackLayout class="no-internet" row="1">
      <Image  src="~/assets/logo.png"></Image>
      <Label text="Please check your internet"></Label>
      <Button class="action-btn" (tap)="reload()" text="reload"></Button>
    </StackLayout>
  </GridLayout>
  
></GridLayout>

<StackLayout row="0" class="top-indication">
        
</StackLayout>

<ActivityIndicator borderRadius="50%" backgroundColor="white" *ngIf="webviewLoading" row="2" rowSpan="2" color="black"
  width="100" height="100" [busy]="true">
 </ActivityIndicator>

</Gridlayout>
